@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row nopadding">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left" style="min-height:450px;">
            @{Html.RenderAction("ContactSubscribe", "Site");}
        </div>
        <div class="col-md-8 pull-right no-offset nopadding">
            <div class="col-md-12 nopadding noteditable" id="ForgotPasswordMain">
                <h1 class="text-success-dark">Forgot Password?</h1>
                <p class="error">@ViewBag.errorMessage</p>
                <p>
                    An email has been sent with instructions to reset your password.
                    <br />
                    <br />
                    The link in the email is only valid for a short period of time.
                    <br />
                    <br />
                    Please reset your password as soon as possible once you receive the email.
                </p>
            </div>
        </div>
    </div>
</div>

