@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Password reset confirmed";
}

<div class="row nopadding">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left" style="min-height:450px;">
            @if (ViewBag.CustomerType == 4)
            {
                { Html.RenderPartial("/Views/Shared/_LeftSideBarIMD.cshtml"); }
            }
            else
            {
                { Html.RenderAction("ContactSubscribe", "Site"); }
            }
        </div>
        <div class="col-md-8 pull-right no-offset nopadding">
            <div class="col-md-12 nopadding noteditable" id="ForgotPasswordMain">
                <h1 class="text-success-dark">Password Reset</h1>
                <p class="error">@ViewBag.errorMessage</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="text-success-dark">Your password was successfully updated.</span>
                }
                else
                {
                    @:Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                }
                </p>
            </div>
        </div>
    </div>
</div>


