@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.thisPage = "Contact";
}
<div class="row">
        <div class="container nopadding" style="margin-top:0px;">
            <div class="col-md-4  pull-left hidden-xs hidden-sm" style="min-height:450px;">
                @{Html.RenderAction("ContactSubscribe", "Site");}
            </div>
            <div class="col-md-8 pull-right nopadding noteditable">
                <div class="col-md-12 pull-right nopadding noteditable">
                    <div class="col-md-12 pull-left nopadding" style="margin-bottom:25px;">
                        <h1 class="text-info-dark">
                            Contact AppTrack
                        </h1>
                        <h2 class="text-info-dark">
                            We're always happy to hear from you!
                        </h2>
                        <br />
                        Questions? We do our best to answer all inquiries within two business days.
                    </div>
                    <div class="col-md-3 pull-left  nopadding">
                        <strong>Address</strong>
                        <br />
                        383 Main Avenue
                        <br />
                        Suite 602
                        <br />
                        Norwalk CT 06851
                        <br />
                    </div>
                    <div class="col-md-4 pull-left">
                        <strong>Email</strong>
                        <br />
                        <a href="mailto:memberservices@AppTrack.net">memberservices@AppTrack.net</a>
                    </div>
                    <div class="col-md-2 pull-left">
                        <strong>Telephone</strong>
                        <br />
                        203.853.3333
                        <br />
                        <br />
                        <strong>Fax</strong>
                        <br />
                        866.477.8725
                    </div>
                    <div class="col-md-3 pull-left">
                        <strong>Hours</strong>
                        <br />
                        Monday-Friday
                        <br /> 
                        8:30 am – 5:30 pm
                    </div>
                </div>
                <div class="row clear"></div>
                    <div class="col-md-12 pull-right nopadding noteditable" style="margin-top:25px;">
                        <div style="overflow:hidden;height:400px;;width:100%;">
                            <div id="gmap_canvas" style="height:400px;width:100%;">
                                <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=383+Main+Avenue,+Norwalk,+CT,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                            </div>
                            <style>
                                #gmap_canvas img {
                                    max-width: none !important;
                                    background: none !important;
                                }
                            </style>
                            <script src="https://www.embed-map.com/google-maps-authorization.js?id=10de2bfe-5fc8-e40a-d2a5-dfa29d8f0af8" defer="defer" async="async"></script>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="row nopadding" style="width:100%;height:25px;">
    &nbsp;
</div>
