@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="row nopadding">
    <div class="col-sm-12 text-danger " style="text-align:center;margin-top:10px;">
        <br /><br />
        An unexpected error was encountered.  
        <br />
        <br />
        @ViewBag.ErrorMessage
        <br />
        <br />
    </div>
</div>
