@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.thisPage = "H1";
    ViewBag.PageType = "Landing";
}
<style>
    .bg-gray {
        padding: 5px;
    }
</style>
<div class="row">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-12 nopadding editable" id="H1">
            @{Html.RenderAction("CMSGetContents", "CMSContents", new { sectionName = "H1", status = "LIVE", viewName = "H1" });}
        </div>
    </div>
</div>
<div class="row nopadding" style="width:100%;height:25px;clear:both;">
    &nbsp;
</div>
