@{
    Layout = "~/Views/Shared/_SiteLayoutPage1.cshtml";
    ViewBag.thisPage = "Index";
    ViewBag.PageType = "Index";
}
<div class="row nopadding">
</div>
<div class="clearfix" style="height:25px;"></div>
<div class="row hidden-lg hidden-md">
    <div class="container-fluid" style="padding-bottom:20px;">
    </div>
</div>
<div class="row hidden-xs hidden-sm">
    <div class="container nopadding" style="padding-bottom:20px;">
        <div class=" pull-left col-md-4 nopadding">
            @{Html.RenderAction("ContactSubscribe", "Site");}
        </div>
        <div class="col-md-8 nopadding" style="font-size:5em;color:#0094ff">
            Welcome family and friends to what's next!
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".fa").hover(function () {
            $(this).css("text-shadow", "5px 5px #CCC");
            $(this).css("margin-top", "-5px");
            $(this).css("border", "1px #CCC dashed");
        }, function () {
            $(this).css("text-shadow", "0px 0px #FFF");
            $(this).css("margin-top", "0px");
            $(this).css("border", "0px");
        });

    });
</script>
