
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.thisPage = "PrivacyPolicy";
    ViewBag.PageType = "PrivacyPolicy";
    ViewBag.callbackURL = "~/Site/PrivacyPolicy.cshtml";
}
<style>
    .bg-gray {
        padding: 5px;
    }
</style>
<div class="row">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left hidden-xs hidden-sm" style="min-height:450px;">
            @{Html.RenderAction("ContactSubscribe", "Site");}
        </div>
        <div class="col-md-8 pull-right nopadding noteditable">
            <div class="col-md-12 pull-right nopadding noteditable">
                <div class="editable" id="NewsHeader">
                    <h1 class="text-info-dark">
                        AppTrack ACQUIRES PRIMA EYE GROUP
                    </h1>
                </div>
                <div class="editable" style="min-height:100px;" id="NewsMain">
                    <u>For further information, contact:</u>
                    <br />
                    Gary Esterow
                    <br />
                    (908) 216-5200
                    <br />
                    <a href="mailto:gesterow@gmail.com">gesterow@gmail.com</a>
                    <br />
                    <br />
                    NORWALK, Conn. (January 12, 2016) – Independent Doctors of Optometric Care (AppTrack, LLC), a leading practice development organization dedicated exclusively to making independent optometric practices more successful, has acquired PRIMA Eye Group (PRIMA, LLC), a top consulting firm and alliance devoted to helping independent optometrists through every stage of their optometric business.
                    <br />
                    <br />
                    With the acquisition, AppTrack remains the largest privately-held alliance of independent ODs in the U.S., with approximately 3,100 member optometrists.
                    <br />
                    <br />
                    &quot;AppTrack and PRIMA share a passion for helping the independent optometrist be successful in private practice,&quot; says Dave Brown, president and CEO, AppTrack, LLC.  &quot;Together, we will be able to provide even stronger vendor programs, expanded resources and enhanced consulting services to help independent optometrists survive and thrive.&quot;
                    <br />
                    <br />
                    The two companies will continue to operate as AppTrack and PRIMA Eye Group during a phased integration period in 2016, with each maintaining their respective corporate headquarters; PRIMA in Atlanta, Ga., AppTrack in Norwalk, Conn.  Optometrist members of each group will be receiving information during the transition phase about how to avail themselves of the numerous offerings of each alliance.
                    <br />
                    <br />
                    Brown will serve as president and CEO, and the senior management team will include Oliver Spandow, current CFO, AppTrack, and Neil Gailmard, OD, co-founder and president and COO of PRIMA, both reporting to him.  Dr. Gailmard will serve as Chief Optometric Officer of AppTrack and will continue as president of PRIMA Eye Group.
                    <br />
                    <br />
                    &quot;I look forward to working together to develop new strategies and programs to support independent optometrists,&quot; notes Dr. Gailmard. &quot;I am very excited that we will bring even more capabilities and resources to help our members achieve great success in private practice.&quot;
                    <br />
                    <br />
                    Jerry Hayes, OD, co-founder and CEO of PRIMA will retire from the company effective June 30, 2016. In conjunction with the acquisition, AppTrack founder and Chairman Mark Feder, OD, will step down from his current role and will continue to remain involved with the company as an advisor to the senior management team.
                    <br />
                    <br />
                    Funding for the acquisition is being provided by The Riverside Company, a global middle market private equity firm based in Cleveland and a partner with AppTrack, LLC.  Both Drs. Feder and Gailmard will retain ownership stakes in the new company.
                    <br />
                    <br />
                    <strong><u>About AppTrack</u></strong>
                    <br />
                    AppTrack is an alliance committed to the growth and long-term success of independent optometrists.  Since 1999, AppTrack has been providing eye care professionals a competitive advantage through strong vendor programs, business education and networking opportunities. For more information about AppTrack and its benefits and services, call (203) 853-3333 or visit <a href="http://www.AppTrack.net">www.AppTrack.net.</a>
                    <br />
                    <br />
                    <strong><u>About PRIMA Eye Group</u></strong>
                    <br />
                    PRIMA Eye Group, founded in 2011, is a hybrid consulting firm and alliance for vision care professionals that provides one-on-one consulting from a team of experts in optometric management and offers expertise on specialized areas including marketing, human resources, and practice financial analysis.  PRIMA also hosts national and regional conferences and roundtable groups. To learn more about PRIMA Eye Group, call (800) 668-0599 or visit <a href="http://www.primaeyegroup.com">www.primaeyegroup.com</a>.
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row nopadding" style="width:100%;height:25px;">
    &nbsp;
</div>
