@{
    Layout = "~/Views/Shared/_SiteLayoutMember.cshtml";
    ViewBag.Title = "SiteMemberIndex";
    ViewBag.thisPage = "SiteMemberIndex";
    ViewBag.PageType = "Index";
}
<div class="col-md-12 pull-right no-offset nopadding">
    <div class="col-md-12 nopadding noteditable" id="SiteMemberIndexHeader">
        <h2 style="margin-top:20px;">Here's how it works...</h2>
        <h4>
            <strong>My Community</strong> will show you a list of people and businesses that you interact with and want to track events and activities. You can add as many as you like.
            <br /><br />
            Click on the little person icon to the right to view their Profile. You can edit their information, add Contacts, or the best part, track Activities.
            <br /><br />
            Activities are any interaction that you want to track like a purchase, or customer service issue or service appointment.
            <br /><br />
            Each Activity can have either Notes or Tasks.  Notes can be anything about that Activity you want to remember. Tasks are just that things you need to do related to this Activity that typically have a due date.
            <br /><br />
        </h4>

        <h4>
            <strong>My Tasks</strong> will show you a list of all your Tasks.
            <br /><br />
            You can edit the Task, but to add a new Task you will need to find the Activity to associate it with and add it to that Activity.
            <br /><br />
            Today you have to log in to view your Tasks but soon we will have push reminders that will send you email or text when you have an upcoming Task.        
            <br /><br />
        </h4>

        <h4>
            <strong>My Account</strong> just lets you update your personal information.
            <br /><br />
        </h4>
        
        <div style="clear:both;height:10px;"></div>
    </div>
</div>
