@if (ViewBag.ErrorCode == Constants.fatalErrorCode)
{
    <div id="contactContainerDiv">
        <div class="col-md-12" style="font-size: 1.5em">
            <br />
            <br />
            The following unexpected error was encountered:
            <br />
            <br />
            <span class=" text-danger">@ViewBag.ErrorMessage</span>
            <br />
            <br />
            Please contact technical support.
        </div>
    </div>
}
else
{
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Enrollment";
        ViewBag.thisPage = "Enrollment";
        ViewBag.EditCookie = "Y";
    }
    <div class="row">
            <div class="col-md-12 pull-right no-offset" style="margin-top:20px;">
                <div style="width:100%;" id="enrollRightCol">
                    @{Html.RenderAction("MemberEnrollmentPromotion", "MemberEnrollment");}
                </div>
            </div>
            <div class="row"></div>
    </div>
}
