                            <br />
                            <br />
                            @Html.EditorFor(model => model.OrderHeader.ShipCity, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                            <br />
                            @Html.EditorFor(model => model.OrderHeader.ShipState, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                            <br />
                            @Html.EditorFor(model => model.OrderHeader.SHipPostalCode, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })  
							</div>
                            <br />

