@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="row nopadding">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left" style="min-height:450px;">
            @{Html.RenderPartial("/Views/Shared/_LeftSideBarIMD.cshtml");}
        </div>
        <div class="col-md-8 pull-right no-offset nopadding">
            <div class="col-md-12 nopadding">
                <h3>Welcome to the AppTrack Member Director Portal</h3>
                <p>We're glad you're here.  This site is designed to help you manage meetings, view your members, track your commissions, as well as download all the materials you need to run a fantastic study group meeting!</p>
                <p>We are looking forward to providing you with outstanding curriculum for the upcoming quarters.  If there is a specific topic you think AppTrack members would benefit from discussing, please fill out the form below and we will consider it for a future meeting!</p>
                <p>Thanks so much for all that you do for AppTrack members, and for helping us realize our vision of helping to secure the future of independent optometry.</p>
                <p>If you have any questions regarding the IMD program, please don't hesitate to contact <a href="mailto:ithombs@AppTrack.net">Ilana Thombs</a> at 203.853.3333.</p>
            </div>
        </div>
    </div>
</div>

