@{
    Layout = "~/Views/Shared/_SiteMobileLayout.cshtml";
    ViewBag.Title = "GrowthSolutions";
    ViewBag.thisPage = "GrowthSolutions";
    ViewBag.PageType = "GrowthSolutions";
    ViewBag.EditCookie = "Y";
}
<div class="row nopadding">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left hidden-xs hidden-sm" style="min-height:450px;">
            @{Html.RenderAction("ContactSubscribe", "Site");}
        </div>
        <div class="col-md-8 pull-right no-offset nopadding">
            <div class="no-offset nopadding" style="background-color:#FFF;width:100%;padding:0px;margin:0px;">
                <img class="img-responsive" src="../../Images/GrowthSolutionsV2.png" style="height:auto; width:100%;padding:0px" />
            </div>
            <div class="col-md-12 nopadding noteditable" id="GrowthSolutionsMain">
                <h1 class="text-royalty-dark">Growth Solutions</h1>

                <h4 class="text-royalty-dark">Dedicated to the success of the industry. One independent OD at a time.</h4>

                <div style="font-size: 14px;"><span style="font-size:14px">That's right.  We are solely focused on helping to ensure the future of independent optometry.  And we know that means offering solutions to the wide range of challenges faced by our members.  Addressing and overcoming these challenges is the only way we can support your growth goals.</span></div>

                <p> </p>

                <div style="font-size: 14px;">How do we do it:</div>

                <p> </p>

                <div style="font-size: 14px;"><strong>AppTrack Select</strong> -- our flagship membership option provides:</div>

                <div> </div>

                <ul>
                    <li>
                        <div style="font-size: 14px;">GPN's The EDGE&trade;, a powerful business management tool that allows quick and easy access to an overview of practice profit centers -- so you will get a full and accurate picture of how your practice is performing.  </div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">Regularly scheduled meetings with AppTrack Select Business Consultants, who analyze and discuss the data with you, identify areas of opportunity and develop strategies to turn opportunities into profit.</div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">Some of the best discounts and rebates in the industry, from a limited number of industry-leading vendor partners.</div>
                    </li>
                </ul>

                <p> </p>

                <div style="font-size: 14px;">Learn more about <a href="IdocSelect">AppTrack Select</a>.</div>

                <p> </p>

                <div style="font-size: 14px;"><strong>Healthcare Reform Support</strong> -- Members rely on AppTrack to help navigate this new environment.  We offer programs to help set you on the path to success in the managed care space.  </div>

                <p> </p>

                <div style="font-size: 14px;">Review our <a href="SavingsAndRebates">EHR Vendor Partner Programs</a>.</div>

                <p> </p>

                <div style="font-size: 14px;">
                    <strong>Consulting</strong> -- AppTrack members have the opportunity to work with optometric leader. Dr. Mark Wright in the form of one-on-one consultations.  One of the most forward-thinking  <img alt="Mark Right Founder" src="http://www.AppTrack.net/Content/images/faculty-MarkWright.jpg" style="float:right; height:126px; width:89px; margin-right:10px;" />innovators in the field, Dr. Wright will work with you to form a comprehensive, actionable assessment of your practice. 
                    <br /><br />
                    Areas of focus include:
                </div>

                <ul>
                    <li>
                        <div style="font-size: 14px;">A trend analysis of practice finances</div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">A thorough cash flow evaluation</div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">A trend analysis of key practice indicators</div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">A written 3 year practice plan</div>
                    </li>
                    <li>
                        <div style="font-size: 14px;">Monthly telephone consulting</div>
                    </li>
                </ul>

                <div style="font-size: 14px;">If you are interested in working with Dr. Wright, please call for pricing information at 203.853.3333.</div>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row nopadding" style="width:100%;height:25px;">
        &nbsp;
    </div>

    
