@if (ViewBag.ErrorCode == Constants.fatalErrorCode)
{
    <div id="activityReportsContainerDiv">
        <div class="col-sm-12" style="font-size: 1.5em">
            <br />
            <br />
            The following unexpected error was encountered:
            <br />
            <br />
            <span class=" text-danger">@ViewBag.ErrorMessage</span>
            <br />
            <br />
            Please contact technical support.
        </div>
    </div>
}
else
{
    <h2>Member Activity Reports</h2>

    <div class="col-md-12">
        <ul id="tabstrip" class="nav nav-tabs" role="tablist">
            <li class="active"><a class="DetailLink" href="#DetailTab" role="tab" data-toggle="tab">Detail</a></li>
            @if (User.IsInRole("MemberServicesManager"))
            {
                <li><a class="SummaryLink" href="#SummaryTab" role="tab" data-toggle="tab">Summary</a></li>
            }
        </ul>

        <div class="tab-content nopadding" style="padding-top:15px;">
            <div class="tab-pane fade nopadding" id="SummaryTab"></div>
            <div class="tab-pane fade in active" id="DetailTab"></div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $("#tabstrip .DetailLink").click();
        });

        $('#tabstrip .SummaryLink').click(function (e) {
            var tabID = $(this).attr("href").substr(1);
            if ($("#" + tabID).html() == "") {
                e.preventDefault()
                $(this).tab('show')
                $("#" + tabID).html("<div style='text-align:center;padding-top:50px;'><img src='/Content/Images/ajaxLoader.gif' /></div>");
                $.ajax({
                    url: "/MemberActivity/ActivitySummary",
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        $("#" + tabID).html(result);
                        $.validator.unobtrusive.parse(document);
                    },
                    failure: function () {
                        alert("Ooops - something went wrong");
                    }
                });
            }
        });

        $('#tabstrip .DetailLink').click(function (e) {
            var tabID = $(this).attr("href").substr(1);
            // alert("Scott");
            if ($("#" + tabID).html() == "") {
                e.preventDefault()
                $(this).tab('show')
                $("#" + tabID).html("<div style='text-align:center;padding-top:50px;'><img src='/Content/Images/ajaxLoader.gif' /></div>");
                $.ajax({
                    url: "/MemberActivity/ActivityDetail",
                    cache: false,
                    type: "get",
                    dataType: "html",
                    success: function (result) {
                        $("#" + tabID).html(result);
                        $.validator.unobtrusive.parse(document);
                    },
                    failure: function () {
                        alert("Ooops - something went wrong");
                    }
                });
            }
        });


    </script>
}

