<div id="errorContainerDiv">
    <div class="col-sm-12" style="font-size: 1.5em;padding-top:15px;">
        <br />
        <br />
        The following unexpected error was encountered:
        <br />
        <br />
        <span class=" text-danger">@ViewBag.ErrorMessage</span>
        <br />
        <br />
        Please contact technical support.
    </div>
</div>



