@model AppTrack.ViewModels.AutoShipHeaderUpdateViewModel

<div class="col-sm-12 pull-left" style="padding:0;border: 1px #CCC dotted ;">
    <table class="table table-hover table-striped table-responsive" id="documentsTable">
        <tbody>
            @foreach (var item in Model.AutoShipDetailList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtPrice)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
